<div class="modal fade bs-how-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div id="header-button">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">使用教學：</h4>
        </div>
        
        <h4>1.發起故事：</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以寫一個故事的起頭，讓其他人來發揮和接續你的故事。<br>
        你可以選擇經典故事的改編（像是白雪公主或是屈原跳河的故事等）、結局改編（我可能不會愛你中，又青姐真的該選擇大仁哥嗎？）、時事創作（王如玄哭哭說：我一輩子沒有做過公主，網友神達：因為你是巫婆...）</p>
        <h4>2.接續故事：</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以瀏覽平台中，感到有興趣的故事，並選擇接續別人的故事，或是為故事寫下令人意想不到的結局。
        不過，一個故事限制三個人可以接龍，最多可以連結兩次（所以是三層的故事），要搶要快！</p>
        <hr>
      </div>
    </div>
  </div>
</div>