
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div id="privacy">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">   </h4>
        </div>

        <h2>隱私權政策：</h2>

        <p>本站是由「Crowdy 群眾共同創作平台」所經營，以下簡稱Crowdy共創平台，為了能讓各位顧客知道Crowdy共創平台非常重視個人資料的保護，針對消費者與個人資料之蒐集和運用，依中華民國「電腦處理個人資料保護法」及本隱私權保護聲明，Crowdy共創平台已加強相關之保護措施。Crowdy共創平台以下列的對外聲明中，說明對於線上使用者個人資料的使用方式、使用範圍、使用方法等相關事項，請您務必詳細閱讀以下各項內容後再進行登錄註冊，當您登錄註冊完成，即視為您已閱讀、了解並同意接受本隱私保護聲明的內容。</p>

        <h2>個人資料蒐集及使用：</h2>

        <p>當您瀏覽Crowdy共創平台時，不會主動要求輸入個人資料。當您完成參加其他活動時，才會要求您登錄個人資料，以便完成相關服務。訂閱電子報只需提供Email帳號，使用者想取消訂閱，可隨時至本網站取消訂閱。 當您在Crowdy共創平台主動註冊成為會員後，您所輸入的資料，僅供Crowdy共創平台提供服務或活動設計參考使用。凡未經您主動註冊所產生的資料，例如使用者機器的 IP 位址、使用時間、使用的瀏覽器、瀏覽及點選紀錄等資料，本網站僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。Crowdy共創平台會自動記錄您在網站內的瀏覽，這些資料僅作為流量分析和網路行為調查，便於改善網站服務品質。除事先說明或依台灣法律規定外，Crowdy共創平台不會擅自將您的個人資料提供給第三者或作為其他目的之用。</p>

        <h2>使用者註冊說明：</h2>

        <p>Crowdy共創平台所取得的個人資料，都僅供Crowdy共創平台內部、依照原說明目的和規範使用，除非事先說明、或依照相關法律規定，否則本網站不會將您的個人資訊透露第三方、或移作其他目的使用。</p>

        <h2>自我保護措施：</h2>

        <p>請勿在網路上公開透露您個人資料，因該資料有可能會被他人蒐集和使用，特別是在網路上公開的發言場合，如聊天室、留言版，更應避免發表個人身份、密碼或電子郵件等相關個人資料。如果您與他人共用電腦或使用公共電腦，請記得關閉瀏覽器，以防他人看到上述資料取得您帳號的方法。</p>

        <h2>隱私權保護政策之修訂：</h2>

        <p>Crowdy共創平台保留更改本聲明各項內容之權利，我們將於網站同一位置公告更改之聲明外，不另外對會員進行個別通知。</p>
        
        <hr>
        
        <p>若您對本隱私權保護政策有任何問題，請寫信與本平台聯繫。</p>

      </div>
    </div>
  </div>
</div>

