table {
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
}

table, th, td {
    border: 1px dashed gray;
}

.level1{
  background: #5BC0EB;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.level2{
  position: relative;
  top:-15px;
  left: 150px;
  background: #FDE74C;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.level3{
  position: relative;
  top:-15px;
  left: 150px;
  background: #9BC53D;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.storyline, .storyline a{
  overflow: hidden;
  color:white;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  display: block;
  border-bottom:1px solid gray;
}
.element{
  float:left;
}

.fb-img{
  max-width:50px !important;
}
.container{
  background:#DBDBDB;
  /*background-image: image-url("crowdy7501134.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: 70%;*/
}
.storyline h4{
  position:relative;
  right:40px;
  font-size: .9em;
  color:lightgray;
}