table {
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
}

.search {
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
}

table,
th,
td {
    border: 1px dashed gray;
}

.level1 {
    background: -webkit-linear-gradient(left, transparent, #5BC0EB);
    background: -o-linear-gradient(left, transparent, #5BC0EB);
    background: -mose-linear-gradient(left, transparent, #5BC0EB);
    background: linear-gradient(left, transparent, #5BC0EB);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.level2 {
    position: relative;
    top: -25px;
    left: 200px;
    background: -webkit-linear-gradient(left top, transparent, #FDE74C);
    background: -o-linear-gradient(left top, transparent, #FDE74C);
    background: -mose-linear-gradient(left top, transparent, #FDE74C);
    background: linear-gradient(left top, transparent, #FDE74C);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.level3 {
    position: relative;
    top: -25px;
    left: 150px;
    background: -webkit-linear-gradient(left top, transparent, #9BC53D);
    background: -o-linear-gradient(left top, transparent, #9BC53D);
    background: -mose-linear-gradient(left top, transparent, #9BC53D);
    background: linear-gradient(left top, transparent, #9BC53D);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.storyline,
.storyline a {
    overflow: hidden;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1.2px 1.2px 1.2px black;
    display: block;
    border-bottom: 1px solid gray;
}

.element {
    float: left;
}

.fb-img {
    max-width: 50px !important;
}

.container {
    /*background: #DBDBDB;*/
    /*background-image: image-url("crowdy7501134.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: 70%;*/
}

.storyline h4 {
    position: relative;
    right: 40px;
    font-size: .9em;
    color: lightgray;
}

.grid .btn {
    font-size: 2.6em;
}

.grid {
    clear: both;
    overflow: hidden;
}

.grid-item {
    min-height: 100px;
    width: 200px;
    margin-bottom: 10px;
}

.grid-item--width2 {
    width: 400px;
    float: right;
}

.grid-item img {
    display: block;
    border-radius: 10px;
    max-width: 100%;
}

.grid-item h4,
h6 {
    position: absolute;
    bottom: 0px;
    right: 5px;
    line-height: .1em;
    text-align: right;
    display: block;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.grid-item h3 {
    position: absolute;
    bottom: 10px;
    right: 5px;
    text-align: right;
    display: block;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.modal-content #header-button {
    width: 95%;
    margin: 0 auto;
}

.modal-content #header-button p{
    width:95%;
    margin: 0 auto;
}

.chapter-cover {
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}
