<div class="modal fade bs-about-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div id="header-button">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myLargeModalLabel">關於我們：</h4>
        </div>
        <h4></h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;這是一個共同用文字和圖片創作的平台，我們認為由多人共同創作的故事，可以激發彼此的想像力，因著無法預測其他人會怎麼接續故事的發展，而使得每一個故事都充滿著無限可能和驚喜；我們希望每一個人在這裡找到靈感、發揮創意，更藉由大家的想像力，讓故事變成我們生活中的一趟奇幻之旅！</p>
        <hr>
      </div>
    </div>
  </div>
</div>